@tailwind base;
@tailwind components;
@tailwind utilities;

/* Class Styles */
.input {
  border: 1px solid black;
  width: 200px;
}

/* ID Styles */
#input_form {
  padding: 30px 30px;
  border: 2px solid black;
  width: 400px;
  display: flex;
  flex-direction: column;
}
#submit_button {
  border: 1px solid black;
  border-radius: 10%;
  padding: 0 20px;
  width: 120px;
}

/* Responsive Styles */
@media only screen and (min-width: 320px) and (max-width: 677px) {
} /* Phones */
@media only screen and (min-width: 677px) and (max-width: 834px) {
} /* Tablets & Large Tablets*/
@media only screen and (min-width: 835px) and (max-width: 1200px) {
} /* Laptops */
@media only screen and (min-width: 1200px) {
} /* Large Laptops */
