@tailwind base;
@tailwind components;
@tailwind utilities;

/* Class Styles */
.input {
  border: 1px solid black;
  width: 200px;
}

/* ID Styles */
#input_form {
  padding: 0 30px;
  border: 1px solid blue;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#submit_button {
  border: 1px solid black;
  border-radius: 10%;
  padding: 0 20px;
  width: 120px;
}

/* Responsive Styles */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
